<h1>Sign in to Keens</h1>

<p>Hi<%= " #{@user.name}" if @user.name.present? %>,</p>

<p>Use the link below to sign in. It is good for one use and expires at
<%= @expires_at.strftime("%H:%M %Z on %b %-d, %Y") %>.</p>

<p><%= link_to "Sign in to Keens", @sign_in_url %></p>

<p>If you did not request this email, you can safely ignore it.</p>
